<%- include('includes/head') %>
<div class="jumbotron">
    <div class="container">
      <h1>Welcome</h1>
      <p class="lead">his command prompts you for a number of things, such as the name and version of your application. For now, you can simply hit RETURN to accept the defaults for most of them, with the following exception:his command prompts you for a number of things, such as the name and version of your application. For now, you can simply hit RETURN to accept the defaults for most of them, with the following exception:</p>
    </div>
  </div>

<p>his command prompts you for a number of things, such as the name and version of your application. For now, you can simply hit RETURN to accept the defaults for most of them, with the following exception:</p>


<%- include('includes/footer') %>
  